@*  @model Product

<div class="container my-5 p-4 bg-light shadow-sm rounded">
    <form asp-controller="Product" asp-action="DeletePost">
        <input asp-for="Id" hidden />
        <div class="border p-4 rounded shadow-sm">
            <div class="row mb-3">
                <h2 class="text-danger fw-bold mb-1">Delete Product</h2>
                <p class="text-muted small">Are you sure you want to delete this Product?</p>
            </div>
            <hr />

            <div class="mb-3 row">
                <label asp-for="Title" class="col-sm-3 col-form-label">Product Name</label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="Title" disabled value="@Model?.Title" />
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Description" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <textarea class="form-control" asp-for="Description" disabled value="@Model?.Description"></textarea>
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="ISBN" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="ISBN" disabled value="@Model?.ISBN" />
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="ListPrice" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="ListPrice" disabled value="@Model?.ListPrice" />
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Price" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="Price" disabled value="@Model?.Price" />
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Price50" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="Price50" disabled value="@Model?.Price50" />
                </div>
            </div>
            <div class="mb-3 row">
                <label asp-for="Price100" class="col-sm-3 col-form-label"></label>
                <div class="col-sm-9">
                    <input class="form-control" asp-for="Price100" disabled value="@Model?.Price100" />
                </div>
            </div>
           

            <div class="row">
                <div class="col-6 col-md-3">
                    <button type="submit" class="btn btn-danger w-100">
                        <i class="bi bi-trash3-fill me-1"></i> Delete
                    </button>
                </div>
                <div class="col-6 col-md-3">
                    <a asp-controller="Product" asp-action="Index" class="btn btn-outline-secondary w-100">
                        <i class="bi bi-arrow-left me-1"></i> Back to List
                    </a>
                </div>
            </div>
        </div>
    </form>
</div>

@section Scripts {
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <partial name="_ValidationScriptsPartial" />
}
 *@